<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ptvag.Dawn.SilverMap.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XMapWSBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://xmap-eu-n-test.cloud.ptvgroup.com/xmap/ws/XMap" binding="basicHttpBinding"
          bindingConfiguration="XMapWSBinding" contract="XmapService.XMapWS"
          name="XMapWSPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Ptvag.Dawn.SilverMap.Web.Properties.Settings>
      <setting name="MapCluster" serializeAs="String">
        <value>eu-n-test</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>&lt;insert your token here&gt;</value>
      </setting>
    </Ptvag.Dawn.SilverMap.Web.Properties.Settings>
  </applicationSettings>
</configuration>